body {
    margin: 0;
}

ul.hr {
    margin: 0;  /*Обнуляем значение отступов*/
    padding: 0;  /*Значение полей*/
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 0 4px; /* Поля вокруг текста */
}
ul.hr ul li {
    width: 100%;
}


div.block1280 {
    width: 1278px;
    margin: 0 auto 0;
    background-color:lightgrey;
    border: 1px solid red;
}

#content_table {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    background-color:darkgrey;
    /*color:red;*/
    /*text-align:center;*/
    /*padding:0px;*/
    overflow: auto;
    /*border: 1px solid red;*/
}
table {
    border: 1px solid;
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    border-collapse: collapse;
    background: linear-gradient( #00ff00, #007f00);
    border:1px solid #000000;
    text-align:center;
    font-size:12px;
    font-family:"Helvetica", sans-serif;
    color:#ffffff;
}
td {
    border: 1px solid;
    border-collapse: collapse;
    font-size:13px;
    font-family:Helvetica, sans-serif;
}
th:first-child {width:90px;}
td:first-child {text-align:left; padding-left: 4px;}

th:first-child + th {width:90px;}
td:first-child + td {text-align:left; padding-left: 4px;}

th:first-child + th + th {width:300px;}
td:first-child + td + td {text-align:left; padding-left: 4px;}

th:first-child + th + th + th {width:80px;}
td:first-child + td + td + td {text-align:right; padding-right: 4px;}

th:first-child + th + th + th + th {width:80px;}
td:first-child + td + td + td + td {text-align:right; padding-right: 4px;}

th:first-child + th + th + th + th + th {width:90px;}
td:first-child + td + td + td + td + td {text-align:right; padding-right: 4px;}

th:first-child + th + th + th + th + th + th {width:90px;}
td:first-child + td + td + td + td + td + td {text-align:right; padding-right: 4px;}

th:first-child + th + th + th + th + th + th + th {width:140px;}
td:first-child + td + td + td + td + td + td + td {text-align:right; padding-right: 4px;}

th:first-child + th + th + th + th + th + th + th + th {width:140px;}
td:first-child + td + td + td + td + td + td + td + td {text-align:left; padding-left: 4px;}

tr:nth-child(odd){ background-color:#aaffaa; }
tr:nth-child(even){ background-color:#ffffff; }